In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline

In [2]:
pamella = pd.read_csv('pamellaup.csv')

In [3]:
pamella.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
pamella

,customer,state,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,Employed,M,48029,Suburban,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,Unemployed,F,0,Suburban,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,Employed,M,22139,Suburban,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,Employed,M,49078,Suburban,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,IW72280,California,5035.035257,No,Basic,Doctor,Employed,F,37405,Urban,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,Employed,M,59855,Suburban,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,Unemployed,M,0,Suburban,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
9131,KX53892,Oregon,5259.444853,No,Basic,College,Employed,F,61146,Urban,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,Employed,F,39837,Rural,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
9133,WA60547,California,11971.977650,No,Premium,College,Employed,F,64195,Urban,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [5]:
pamella.drop(['customer'],axis=1,inplace=True)

In [6]:
pamella.drop(['number_of_open_complaints'],axis=1,inplace=True)

In [7]:
pamella.drop(['number_of_policies'],axis=1,inplace=True)

In [21]:
pamella

,state,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,marital_status,...,months_since_last_claim,months_since_policy_inception,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,Arizona,4809.216960,No,Basic,College,Employed,M,48029,Suburban,Married,...,7.0,52,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,California,2228.525238,No,Basic,College,Unemployed,F,0,Suburban,Single,...,3.0,26,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,Washington,14947.917300,No,Basic,Bachelor,Employed,M,22139,Suburban,Single,...,34.0,31,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,Oregon,22332.439460,Yes,Extended,College,Employed,M,49078,Suburban,Single,...,10.0,3,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,California,5035.035257,No,Basic,Doctor,Employed,F,37405,Urban,Married,...,8.0,99,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,Arizona,2771.663013,No,Basic,College,Employed,M,59855,Suburban,Married,...,30.0,82,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
9130,Nevada,19228.463620,No,Basic,High School or Below,Unemployed,M,0,Suburban,Single,...,14.0,32,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
9131,Oregon,5259.444853,No,Basic,College,Employed,F,61146,Urban,Married,...,7.0,68,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
9132,Arizona,23893.304100,No,Extended,Bachelor,Employed,F,39837,Rural,Married,...,11.0,63,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
9133,California,11971.977650,No,Premium,College,Employed,F,64195,Urban,Divorced,...,0.0,27,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [8]:
numerical = pamella.select_dtypes(include=np.number)

In [9]:
Y=numerical["total_claim_amount"]

In [10]:
Y

0       292.800000
1       744.924331
2       480.000000
3       484.013411
4       287.556107
           ...
9129    355.200000
9130    897.600000
9131    273.018929
9132    381.306996
9133    618.288849
Name: total_claim_amount, Length: 9134, dtype: float64

In [11]:
Y = numerical["total_claim_amount"].reset_index(drop=True)

In [12]:
numerical.drop(['total_claim_amount'],axis=1,inplace=True)

In [13]:
categorical = pamella.select_dtypes(include=np.object)

C:\Users\simoe\AppData\Local\Temp\ipykernel_14500\3608999848.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = pamella.select_dtypes(include=np.object)

In [14]:
from sklearn.preprocessing import LabelEncoder

for col in categorical.columns:
    categorical[col]=LabelEncoder().fit(categorical[col]).transform(categorical[col])

categorical

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,0,0,0,1,1,1,1,1,0,2,2,0,0,1
1,1,0,0,1,4,0,1,2,1,5,3,2,0,1
2,4,0,0,0,1,1,1,2,1,5,2,2,3,1
3,3,1,1,1,1,1,1,2,0,2,1,1,0,1
4,1,0,0,2,1,0,2,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,0,0,1,1,1,1,1,1,4,1,1,5,1
9130,2,0,0,3,4,1,1,2,1,4,0,1,2,1
9131,3,0,0,1,1,0,2,1,1,5,1,1,0,1
9132,0,0,1,0,1,0,0,1,0,2,0,3,2,1
9133,1,0,2,1,1,0,2,0,1,3,0,1,3,1

In [15]:
from sklearn.preprocessing import OneHotEncoder

for col in categorical.columns:
    one_hot = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categorical[col])).transform(pd.DataFrame(categorical[col])).toarray())
    
one_hot

        0    1    2
0     0.0  1.0  0.0
1     0.0  1.0  0.0
2     0.0  1.0  0.0
3     0.0  1.0  0.0
4     0.0  1.0  0.0
...   ...  ...  ...
9129  0.0  1.0  0.0
9130  0.0  1.0  0.0
9131  0.0  1.0  0.0
9132  0.0  1.0  0.0
9133  0.0  1.0  0.0

[9134 rows x 3 columns]

In [16]:
X = pd.DataFrame(np.concatenate((numerical,one_hot),axis=1)).reset_index(drop=True)
X

                 0        1      2     3     4    5    6    7    8
0      4809.216960  48029.0   61.0   7.0  52.0  2.0  0.0  1.0  0.0
1      2228.525238      0.0   64.0   3.0  26.0  1.0  0.0  1.0  0.0
2     14947.917300  22139.0  100.0  34.0  31.0  2.0  0.0  1.0  0.0
3     22332.439460  49078.0   97.0  10.0   3.0  1.0  0.0  1.0  0.0
4      5035.035257  37405.0   63.0   8.0  99.0  2.0  0.0  1.0  0.0
...            ...      ...    ...   ...   ...  ...  ...  ...  ...
9129   2771.663013  59855.0   74.0  30.0  82.0  1.0  0.0  1.0  0.0
9130  19228.463620      0.0  187.0  14.0  32.0  2.0  0.0  1.0  0.0
9131   5259.444853  61146.0   65.0   7.0  68.0  1.0  0.0  1.0  0.0
9132  23893.304100  39837.0  201.0  11.0  63.0  2.0  0.0  1.0  0.0
9133  11971.977650  64195.0  158.0   0.0  27.0  2.0  0.0  1.0  0.0

[9134 rows x 9 columns]

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.4,random_state=100)

In [18]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train).fit()

In [19]:
predictions = model.predict(X_test)

In [20]:
r2_score(y_test,predictions)

0.5165652899875501